Hastane Projesi/Eczane/Eczane/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRecete">
        <s:complexType />
      </s:element>
      <s:element name="GetReceteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceteResult" type="tns:ArrayOfReceteItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceteItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceteItem" nillable="true" type="tns:ReceteItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceteItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ilackodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hastaad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hastatc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recetekodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ilacadet" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="recetetarih" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReceteSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecete" />
  </wsdl:message>
  <wsdl:message name="GetReceteSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetRecete">
      <wsdl:input message="tns:GetReceteSoapIn" />
      <wsdl:output message="tns:GetReceteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecete">
      <soap:operation soapAction="http://tempuri.org/GetRecete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecete">
      <soap12:operation soapAction="http://tempuri.org/GetRecete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44304/WebService/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44304/WebService/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>